.obat-sampah-container {
    padding: 40px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #1f2937;
}

.title span {
    color: #14b8a6;
}

.card-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.sampah-card {
    position: relative;
    width: 280px;
    height: 180px;
    background: white;
    border-radius: 22px;
    padding: 25px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.sampah-card:hover {
    transform: translateY(-5px);
}

.sampah-card h2 {
    font-size: 20px;
    font-weight: 700;
    color: #374151;
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    margin-top: 25px;
}

.red {
    background: #ef4444;
}

.purple {
    background: #8b5cf6;
}

/* HOVER BOX */

.hover-box {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #14b8a6, #0f766e);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
}

.sampah-card:hover .hover-box {
    opacity: 1;
    visibility: visible;
}

.mini-icon {
    font-size: 28px;
    margin-bottom: 10px;
}

.hover-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.hover-box h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hover-box p {
    font-size: 14px;
    opacity: 0.9;
}